<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app2.js"></script>
    <title>Custom Services with .factory</title>
</head>
<body>
    <h1>Custom Service Through a Factory</h1>

    <div ng-controller="ShoppingListController1 as list1">
        <h3>Shopping List #1</h3>
        <input type="text" ng-model="list1.itemName" placeholder="item name">
        <input type="text" ng-model="list1.itemQuantity" placeholder="item quantity">
        <button ng-click="list1.addItem();">Add Item</button>
        <ol>
            <li ng-repeat="item in list1.items">
                {{item.quantity}} of {{item.name}}
                <button ng-click="list1.removeItem($index)">Remove Item</button>
            </li>
        </ol>
    </div>
    <div ng-controller="ShoppingListController2 as list2">
        <h3>Shopping List #2</h3>
        <input type="text" ng-model="list2.itemName" placeholder="item name">
        <input type="text" ng-model="list2.itemQuantity" placeholder="item quantity">
        <button ng-click="list2.addItem();">Add item</button>
        <ol>
            <li ng-repeat="item in list2.items">
                {{item.quantity}} of {{item.name}}
                <button ng-click="list2.removeItem($index);">Remove item</button>
            </li>
        </ol>
        <div ng-model="list2.errorMessage">Error: {{list2.errorMessage}}</div>
    </div>
</body>
</html>